@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "montserrat Bold";
    src: url("./assets/fonts/Montserrat-Bold.ttf");
  }
  @font-face {
    font-family: "montserrat regular";
    src: url("./assets/fonts/Montserrat-Regular.ttf");
  }
  @font-face {
    font-family: "montserrat bold italics";
    src: url("./assets/fonts/Montserrat-BoldItalic.ttf");
  }
  @font-face {
    font-family: "montserrat semi bold";
    src: url("./assets/fonts/Montserrat-SemiBold.ttf");
  }